@import "../../vars.css";

.card {
  display: flex;
  
  flex-direction: column;
  border-radius: 10px;
  background: linear-gradient(180deg, var(--color-secondary) 0%, var(--color-dark) 100%);
  box-shadow: 0 16px 14px 0 #04152d;
  padding: 18px 24px;
  max-width: 345px;
  height: 800px; /* Fixe la longueur à 300 pixels */
  max-height: 100%; 
}

.card:hover {
  box-shadow: 0px 0px 20px 1px var(--color-hover);
  border: 0px solid rgba(255, 255, 255, 0.454);
}

.img{
  margin-bottom: 26px;
}

.title {
  font-size: 25px;
  font-weight: 700;
}

.description {
  margin-top: 6px;
  font-size: 20px;
  font-weight: 400;
}

.skills {
  width: 100%;
  margin-top: 14px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 6px;
  list-style: none;
}

.skill {
  font-size: 20px;
  font-weight: 400;
  border-radius: 10px;
  background: var(--color-tech);
  padding: 2px 22px;
}

.links {
  width: 100%;
  margin-top: 26px;
  display: flex;
  justify-content: space-around;
}

.link {
  text-decoration: none;
  border: 3px var(--color-text);
  color: var(--color-text);
  font-size: 30px;
  font-weight: 600;
  border-radius: 10px;
  background-image: linear-gradient(
    90deg,
    rgba(165, 215, 232, 0.42) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  background-size: 0 100%;
  background-repeat: no-repeat;
  transition: 0.4s;
  padding: 4%;
  }

  .link:hover{
    background-size: 100% 100%;
  }
  
  .icone {
    color: #ffffff40; 
    font-size: xxx-large;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
  }
.icone:hover{
  color: var(--color-hover);
  border-radius: 5px;
  
  box-shadow: 0 0 1px 5px var(--color-hover);
  
}


.animatedbutton {
  text-decoration: none;
  position: relative;
  display: inline-block;
  padding: 12px 24px;
  border: none;
  font-size: 16px;
  background-color: inherit;
  border-radius: 10px;
  font-weight: 600;
  color: #ffffff40;
  box-shadow: 0 0 0 2px #ffffff20;
  cursor: pointer;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}


.animatedbutton:hover {
  box-shadow: 0 0 1px 5px var(--color-hover);
  color: #ffffff;
}

.animatedbutton:active {
  scale: 0.95;
}



