.container {
    position: relative;
    display: flex;
    align-items: center;
    
    border-radius: 10px;
    background-color: black;
  }
  .content {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
.contactText{
    color: white;
}

.title{
    color: white;
}

.mail{
    display: flex;
    position: relative;
    color: white;
   
}